@model WebHash.Models.ViewModels.CrackHashViewModel

<div>
    <div class="row" style="margin-left: 10px;">
        @Html.Partial("Partials/HashForm", Model)
    </div>
</div>
@section Scripts {
<script src="@Url.Content("~/js/Site.js")" asp-append-version="true"></script>
<script>
     $(document).ready(function () {
        if($('#AttackMethod').val() === '0'){ 
            $("#dict1").css('display', 'block');
        }

        $('#hashForm').submit(function (e) {
            $('#loadingDiv').css('display', 'block');
            $('#hashForm').css('display','none');
        });

        $('#HashFromInput').on("change", function(){
            if($('#HashFromInput').is(":checked")){
                $("#fromFileSelect").css('display', 'none');
                $("#inputValue").css('display', 'block');
            }
            else{
                $("#fromFileSelect").css('display', 'block');
                $("#inputValue").css('display', 'none');
            }
        })

        $('#AttackMethod').on("change", function(){
            if($('#AttackMethod').val() === '0'){ //If selected straight attack
                $("#dict1").css('display', 'block');
                $("#dict2").css('display', 'none');
            }
            else if($('#AttackMethod').val() === '1'){ //If selected combination attack
                $("#dict1").css('display', 'block');
                $("#dict2").css('display', 'block');
            }
            else{
                $("#dict1").css('display', 'none');
                $("#dict2").css('display', 'none');
            }
        })

        $('#file').on("change",function () {
            $.ajax({
                url: '@Url.Action("GetHashes", "Home")',
                type: "GET",
                data: { "fileId": $("#file").val() },
                success: function (result) {
                    var items = '';
                    var first = true;
                    $(result).each(function(){
                        if(first){
                        items += "<option selected='selected' value=" + this.value + ">" + this.text + "</option>";
                        first = false;
                        }
                        items += "<option value=" + this.value + ">" + this.text + "</option>";
                    })
                    $("#HashFromFileId").html(items);
                },
                error: function(result){
                    alert(result.responseText)
                }
            });
        });

        function getFile(id){
            debugger;
            var element = $('#'+id);
            if(element != null && element != undefined){
                var file = element[0].files[0];

                return file != null && file != undefined ? file : null;
            }
        }

    });
</script>
}
