@model WebHash.Models.ViewModels.CrackHashViewModel

<div>
    <div class="row" style="margin-left: 10px;">

            @Html.Partial("Partials/HashForm", Model)
        
    </div>
</div>
@section Scripts {
<script src="@Url.Content("~/js/Site.js")" asp-append-version="true"></script>
<script>
        $(document).ready(function () {
        $('#btnHashFormSubmit').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("CrackHash", "Home")',
                type: "POST",
                data: $("form").serialize(),
                success: function (result) {
                    $("#updateForHash").html(result);
                    $('#hashForm').css('display','unset');
                },
                beforeSend: function(){
                    $('#loadingDiv').css('display', 'block');
                    $('#hashForm').css('display','none');
                }
            });
            
            
        });
    });
</script>
}
